* {
  margin: 0;
  padding: 0;
}
:root {
  --page-1-color: #fd7580;
  --page-2-color: #91b7fa;
  --page-3-color: #00a0a0;
  --page-4-color: #8b6a85;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #fff;
  overflow: hidden;
}

/* Page Colors */
#page-1 {
  background: var(--page-1-color);
}
#page-2 {
  background: var(--page-2-color);
}
#page-3 {
  background: var(--page-3-color);
}
#page-4 {
  background: var(--page-4-color);
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}

.page h1 {
  font-size: 4rem;
  margin: 1rem;
  line-height: 1.2;
}
.page p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  background: #f4f4f4;
  padding: 1rem 2rem;
  color: #333;
  text-decoration: none;
  border: none;
  margin-top: 1rem;
  font-size: 1.1rem;
  border-radius: 2px;
  transition: all 0.5s ease-in;
}

.btn:hover,
.btn-dark {
  background: #333;
  color: #fff;
}

.btn-dark:hover {
  background: #f4f4f4;
  color: #333;
}

/* Page Animation */
#page-1 h1 {
  transform: translateY(-1200px);
  animation: heading 2s forwards;
}

#page-1 p {
  transform: translateX(-1800px);
  animation: text 3s forwards;
}

#page-1 .btn {
  transform: translateX(1800px);
  animation: btn 2s forwards;
}

/* Keyframes */
@keyframes heading {
  to {
    transform: translateY(0);
  }
}

@keyframes text {
  to {
    transform: translateX(0);
  }
}

@keyframes btn {
  to {
    transform: translateX(0);
  }
}
